* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2f363e;
}

.container {
    position: relative;
    background-color: aqua;
    min-height: 500px;
    border-radius: 20px;
    border-bottom-left-radius: 225px;
    border-top-right-radius: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.75), 10px 50px 70px rgba(0, 0, 0, 0.25), 5px 5px 10px rgba(0, 0, 0, 0.5), 5px 5px 20px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(0, 0, 0, 0.75);
}

.clock {
    position: relative;
    width: 450px;
    height: 450px;
    background: #2f363e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25), 5px 5px 10px rgba(0, 0, 0, 0.5), 5px 5px 20px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(0, 0, 0, 0.75);
}

.clock::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #2f363e;
    border: 3px solid #fff;
    border-radius: 50%;
}

.clock span {
    position: absolute;
    font-weight: 600;
    color: #fff;
    font-size: 1em;
    /* Adjust the font size as needed */
    display: inline-block;
    transform: translate(-50%, -50%) rotate(calc(30deg * var(--i)));
}

.clock span b {
    font-size: 1em;
    /* Adjust the font size as needed */
    opacity: 0.25;
    font-weight: 600;
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    transform: translate(-555%, -840%) rotate(calc(30deg * var(--i)));
}